---
export interface Props {
	title: string;
	description: string;
	image_src: string;
	image_alt: string;
}

const { title, description, image_src, image_alt } = Astro.props;
---

<section id="about" class="section-container">
	<div class="section-wrapper">
		<img class="section-img" src={image_src} alt={image_alt} />
		<div class="section-content">
			<div class="section-title">
				<img class="section-title-img" src={image_src} alt={image_alt} />
				<h1>{title}</h1>
			</div>
			<p class="section-description">{description}</p>
		</div>
	</div>
</section>

<style>
	section {
		height: 100dvh;

		display: flex;
		align-items: center;
	}

	.section-container {
		container: Section / inline-size;
	}

	.section-wrapper {
		display: flex;
		flex-direction: row;

		gap: 3rem;
		height: 30%;
		padding: 0 15%;
	}

	.section-title-img {
		display: none;
		height: 100%;
	}

	.section-title {
		font-size: 2cqi;
		color: var(--accent-color-red);
		text-align: left;

		margin-bottom: 2rem;

		display: flex;
		gap: 1rem;

		align-items: center;
	}

	.section-description {
		padding-right: 10%;
		font-size: max(1.3cqi, 1rem);
		color: var(--text-secondary);
	}

	@container Section (max-width: 768px) {
		.section-img {
			display: none;
		}

		.section-title-img {
			display: block;
		}

		.section-description {
			padding-right: 0;
		}
	}

	@container Section (min-width: 481px) and (max-width: 768px) {
		.section-wrapper {
			padding: 0 10%;
		}

		.section-title {
			font-size: 3cqi;
			height: 12cqi;
		}

		.section-description {
			font-size: 2.5cqi;
		}
	}

	@container Section (max-width: 480px) {
		.section-wrapper {
			padding: 0 10%;
		}

		.section-title {
			font-size: 4cqi;
			height: 12cqi;
		}

		.section-description {
			font-size: 4cqi;
		}
	}
</style>
