---
import Icon from "./Icon.astro";
export interface Props {
  name: string;
  linkedin_url: string;
  github_username: string;
}

const { name, linkedin_url, github_username } = Astro.props as Props;
---

<li class="link-card">
  <div>
    <img
      src={`https://avatars.githubusercontent.com/${github_username}`}
      alt=`${github_username}'s Profile Picture'`
      class="pfp"
    />
  </div>
  <br />
  <h4 class="name">
    {name}
  </h4>
  <br />

  <div class="footer-content">
    <a class="icon" href={`https://github.com/${github_username}`}><Icon icon="github" /></a>
    <a class="icon" href={linkedin_url}><Icon icon="linkedin" /></a>
  </div>
</li>
<style lang="scss">
  @import "../styles/index.scss";
  .link-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
    align-content: space-around;
    max-width: 100%;
    width: 13rem;
    max-height: 100%;
    height: 16rem;
    background-color: $background-secondary;
    border-radius: 10px;
    list-style: none;
    padding: calc(1.5rem - 1px);
    @include raised;
  }

  .pfp {
    padding-top: 10px;
    border-radius: 50%;
    height: 100px;
  }

  .icon {
    padding: 10px;
    &:hover {
      //background-color: $accent-color;
      box-shadow: 0px 4px 24px 0px rgba($text-primary, 0.15);
    }
  }

  .footer-content {
    margin-top: auto;
  }
</style>
