---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const defaultDescription =
  "KOSS is a community of open-source enthusiasts at IIT Kharagpur. We hold annual events introducing students to Linux, UNIX technologies, and the Git Development Workflow, fostering a culture of technological exploration and knowledge-sharing.";
const socialImageURL = new URL("/open_graph.png", Astro.url);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description ? description : defaultDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description ? description : defaultDescription} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:image:alt" content="" />
    <meta property="og:locale" content="en" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description ? description : defaultDescription} />
    <meta property="twitter:image" content={socialImageURL} />
    <meta property="twitter:image:alt" content="" />
  </head>
  <body>
    <slot />
    <Navbar />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  @import "../styles/index.scss";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Rubik", sans-serif;
    background-color: $background-primary;
    color: $text-primary;
  }
  body {
    @include custom-scrollbar;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
</style>
