---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const defaultDescription =
  "KOSS organizes various technical workshops and seminars in the campus in order to continue the healthy culture of Technology and Open Source.";
const socialImageURL = new URL("/open_graph.png", Astro.url);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description ? description : defaultDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description ? description : defaultDescription} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:image:alt" content="" />
    <meta property="og:locale" content="en" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description ? description : defaultDescription} />
    <meta property="twitter:image" content={socialImageURL} />
    <meta property="twitter:image:alt" content="" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
</style>
